

#navbar {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}

#content__container {
  border: solid purple;
}

.content__row {
  /* border: solid black; */
  /* display: flex;
  justify-content: center; */
}

.content__col {
  border: solid black;
  /* display: flex;
  justify-content: start; */
}

#side__navbar {
  /* border: solid black; */
  /* width: 100px;
  height: 100px; */
  min-height: 100vh;

}

#entire__container {
  /* display: flex; */
}


.list_item {
  text-align: center;
  margin: 20px 0;
  
}